@import './reset.css';
@import './nprogress.css';

html,
body,
#app {
  height: 100%;
  text-autospace: normal;
}

html {
  overflow-x: hidden;
  border-color: var(--color-border);
  font-size: var(--font-size);
  color: var(--color-text-base);
}

.ant-table-header::-webkit-scrollbar {
  background-color: transparent;
}

html.grayscale {
  filter: grayscale(100%);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
